### Intellij ###

# User-specific stuff
.idea/*
# If this file is missing, IntelliJ ignores Git integration until explicilty requested
!vcs.xml

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Gradle Patch ###
**/build/